<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <title>Frontend Mentor | Designo Ag ency Website Challenge</title>
</head>

<body>

  <div class="container">

    <mat-toolbar>
      <div class="circle"></div>
      <span class="circle-span">DESIGNO</span>
      <span class="example-spacer"></span>
      <p class="circle-p">Our Company</p>
      <p class="circle-p">Locations</p>
      <p class="circle-p">Contact</p>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
  

 
   </div>
</body>
</html>
