<div class="section-frame">
  <div class="frame-text">
    <div class="frame-container">
      <p class="section-frame-header"> Award-winning custom designs and digital branding solutions</p>

      <p class="section-frame-header-text"> With over 10 years in the industry, we are experienced in creating fully
        responsive websites, app design,
        and engaging brand experiences. Find out more about our services. </p>

      <div class="example-button-row">
        <button mat-raised-button class="learn-btn">Learn more</button>
      </div>

    </div>
  </div>
</div>

<div class="section-hero-images">
  <div class="l-section">
    <mat-card class="mat-hero-container">
      <mat-card-content class="mat-overlay">
        <p>Web Design</p>
        <p>View Projects</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="r-section">
    <div class="r-section-top">
      <mat-card class="r-tcontainer">
        <mat-card-content class="r-toverlay">
          <p>App Design</p>
          <p>View Projects</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="r-section-bottom">
      <mat-card class="r-bcontainer">
        <mat-card-content class="r-boverlay">
          <p>Graphic Design</p>
          <p>View Projects</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="section-illustration">

  <mat-card class="example-card">

    <img mat-card-image src="../assets/home/desktop/passionate.jpg" class="img-illustration-resourceful"
      alt="illustration-resourceful">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>PASSIONATE</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We
        merge art, design, and technology into exciting new solutions.
      </p>
    </mat-card-content>

  </mat-card>

  <mat-card class="example-card">

    <img mat-card-image src="../assets/home/desktop/resourceful.jpg" class="img-illustration-resourceful"
      alt="illustration-resourceful">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>RESOURCEFUL</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value
        customer collaboration. It guarantees superior results that fulfill our clients’ needs. </p>
    </mat-card-content>

  </mat-card>

  <mat-card class="example-card">

    <img mat-card-image src="../assets/home/desktop/friendly.jpg" class="img-illustration-resourceful"
      alt="illustration-resourceful">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>FRIENDLY</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and
        we strive to give them the best experience a company can provide. </p>
    </mat-card-content>

  </mat-card>
</div>

<app-footer></app-footer>